@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --title-font: 'Bricolage Grotesque', sans-serif;
    /*===== Colors =====*/
    --first-color: #473C38;
    --first-color-light: #A44F30;
    --second-color-crazy: #9e262c;
    --background-color: #FCFEF1;
    /*===== Font and typography =====*/
    --body-font: 'Bricolage Grotesque', sans-serif;
    --normal-font-size: 1rem;
    --special-font: 'Bricolage Grotesque', cursive;
    /*===== z index =====*/
    --z-fixed: 100;
    --color-bg-1: #2f251e;
		--color-bg-2: #43392f;
		--color-bg-3: #18130e;
		--color-bg-4: var(--color-bg-1);
		--color-bg-5: var(--color-bg-2);
		--color-bg-6: var(--color-bg-3);
    --s: 1;
		--img-ratio: 1.1;
		--img-width: 190px;
		--img-border-radius: 7px;
		--img-offset-x: 20px;
		--img-offset-y: 20px;
		--cursor-dot: var(--second-color-crazy);
		--cursor-circle: var(--second-color-crazy);
}

/* Text Selection Color */
::selection {
	background-color: var(--second-color-crazy);
	color: var(--background-color);
}

::-moz-selection {
	background-color: var(--second-color-crazy);
	color: var(--background-color);
}

html, body {
    height: 100%;
    font-family: var(--body-font);
    background-color: var(--background-color);
    /* A creme tone; adjust as needed */
    color: var(--first-color);
    /* Soft contrast for elegance */
    margin: 0;
    padding: 0;
		cursor: none;
}

body {
    overflow-x: hidden;
}

.body-text {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
}

.links {
		color: var(--second-color-crazy);
}

section {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;

    width: 80vw;
    margin: 0 auto;
}

.section-titles {
    font-size: 7vw;
    margin: 0;
    font-weight: 800;
    line-height: 0.8;
    margin-bottom: 100px;
}

.home {
    justify-content: center;

}

.input-container {
  position: fixed;
  left: 0;
  top: 1.5%;
  left: 0.7%;
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  padding: 20px;
  border-radius: 20px;
  background-color: #FFFAEB;
  transition: 1s;
  z-index: 10000;
  opacity: 0.3;
  font-family: var(--body-font);
  font-size: 15px;
}

.input-container:hover {

  max-width: 500px;
  opacity: 1;
}

.input-box {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: var(--first-color);
  font-family: var(--body-font);
}

.tooltip-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #FF9800;
  color: #FFFFFF;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 1s;
}

.tooltip-icon:hover {
  background-color: #F57C00;
}

.tooltip-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  padding: 10px;
  background-color: #FFFAEB;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  transition: opacity 1s;
	margin-top: 10px;
}

.tooltip-icon:hover + .tooltip-container,
.tooltip-container:hover {
	
  display: block;
  opacity: 1;
}

.child{
  display: inline-block;
  width: 30%;
  height: auto;
  margin: 0px auto;
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
	text-align: center;
}

@media only screen and (max-width: 768px) {
  .child{
    width: 100%;
  }
}


/* .input-box:hover {
	max-width: 500px;
	opacity: 1;
}

.input-box:hover ~ .input-text {
	transition: 1s;
	opacity: 1;
}

.input-text {
		width: 100%;
		padding: 10px;
		border: none;
		outline: none;
		background: none;
		font-size: 18px;
		color: var(--first-color);
		font-family: var(--body-font);
		position: fixed;
		left: 0;
		top: 8%;
		left: 0.7%;
		opacity: 0.3;
		z-index: 10;
		opacity: 0;
		transition: 1s;
	} */

.home h2 {
    font-size: 20vw;
    margin: 0;
    font-weight: 800;
    line-height: 0.8;
}

.home-about {
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
}

.contenth {
	grid-area: content;
	border-radius: 8px;
	background: var(--background-color);
	position: relative;
	z-index: 100;
}

@media (any-pointer:fine) {
	.cursor {
		position: fixed;
		top: 0;
		left: 0;
		display: block;
		pointer-events: none;
		z-index: 900;
	}

	.cursor--1 .cursor__inner {
		fill: var(--cursor-dot);
	}
	
	.cursor--2 .cursor__inner {
		fill: none;
		stroke: var(--cursor-circle);
		stroke-width: 1px;
	}

	.no-js .cursor {
		display: none;
	}
}

.content__imgh {
	width: var(--img-width);
	aspect-ratio: var(--img-ratio);
	border-radius: var(--img-border-radius);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	will-change: transform, filter;
}

.content__imgh-inner {
	background-position: 50% 50%;
	width: calc(100% + var(--img-offset-x));
	height: calc(100% + var(--img-offset-y));
	background-size: cover;
	position: absolute;
	top: calc( -1 * var(--img-offset-y) / 2 );
	left: calc( -1 * var(--img-offset-x) / 2 );
	filter: sepia(100%) contrast(0.95) brightness(0.7);
}



.about {
    background-color: var(--background-color);
    justify-content: center;
}

/* Style for the about section content container */
.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure it fills the section */
}

/* Style for the text and image within the about section */
.about-text, .about-image {
    flex-basis: 60%; /* Each takes up half the space */
    padding: 20px; /* Add some padding for spacing */
}

/* Style for the image within the about section */
.about-image img {
    width: 100%; /* Ensure the image fills the container */
    border-radius: 20px; /* Add a slight border radius for softness */
    width: 80%;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--first-color);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: var(--second-color);
}


.certificates {
  background-color: var(--background-color);
  padding: 50px 0;
  text-align: center;
}

.slider-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.prev-button,
.next-button {
  background-color: var(--first-color);
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: var(--second-color);
}



.projects {
    background-color: #FFFAEB;
    border-radius: 20px;
    height: auto; /* Adjusted to ensure content fits well */
    width: 70vw;
    display: flex;
    padding: 40px;
}


.tabs {
    display: flex;
		flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFAEB;
    padding: 0;
    margin: 0; /* Ensure no margin is pushing it away from the top */
    width: 100%;
		z-index: 100;
}

.tab-link {
		cursor: none;
    padding: 10px 15px; /* Adjust padding as needed */
    transition: background-color 0.3s;
    border: none; /* Removes border if present */
    background: none; /* Removes any background styling */
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--first-color);
    margin-right: 15px;
    transition: 0.5s;
    color: var(--first-color);
}

.project-links {
	cursor: none;
	padding: 10px 15px; /* Adjust padding as needed */
	transition: background-color 0.3s;
	border: none; /* Removes border if present */
	background: none; /* Removes any background styling */
	font-size: 16px; /* Adjust font size as needed */
	font-family: var(--body-font);
	border-radius: 20px;
	border-style: solid;
	border-radius: 10px;
	border-color: var(--first-color);
	margin-right: 15px;
	transition: 0.5s;
	color: var(--first-color);
	margin-top: 20px;
}

.project-links:hover {
	transition: 0.5s;
	background-color: #9e262c;
	border-style: solid;
	border-radius: 20px;
	font-size: 40px;
	color: #FFFAEB;
}


.hydroponics {
    position: relative;
    z-index: 1;
}


.hydroponics::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://images.squarespace-cdn.com/content/v1/63064607eb816a4d50027fd1/1678377484425-V3NTWBS29YJ0AR7J1AO6/vertical-greenhouse.jpg?format=500w') center no-repeat;
    opacity: 0.2;
}


.deeplearning {
    position: relative;
    z-index: 1;
}

.active {
	border-color: var(--second-color-crazy);
}

.deeplearning::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://home.sophos.com/sites/default/files/2021-09/ai-article-pic8.jpeg') center no-repeat;
    opacity: 0.2;
		filter: brightness(0.3);
}

.exoplanet {
    position: relative;
    z-index: 1;
}

.exoplanet::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://assets.newatlas.com/dims4/default/e071b94/2147483647/strip/true/crop/1320x742+0+0/resize/1320x742!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F80%2F97%2F8a6873d84d9bac122c6341588ad4%2F5000-exoplanets.jpg') center no-repeat;
    opacity: 0.3;
}

.tab-link:hover {
    transition: 0.5s;
    background-color: var(--background-color);
    border-style: solid;
    border-radius: 20px;
}

.tab-content-wrapper {
    clear: both;
    width: 100%;
    /* If you've added any specific styles that might center or otherwise affect the position of the tabs, reset them here */
}

.tab-content {
    display: none;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    animation: slideEffect 0.5s;
    text-align: left;
    color: var(--first-color);
}

.tab-content li {
    margin-bottom: 10px;
    line-height: 1.5;
}

@keyframes slideEffect {
    from {opacity: 0; transform: translateX(-20px);}
    to {opacity: 1; transform: translateX(0);}
}

/* Style for the active tab content */
.active-content {
    display: block;
}


@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	cursor: pointer;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
}

.unbutton:focus {
	outline: none;
}
.fancy {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%239e262c' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}
i {
	font-style: normal;
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400, "INKT" 400;
}

.gallery-title {
    font-size: 7vw;
    font-weight: 800;
    margin: 0;
    text-align: center;
    padding-top: 10%;
}

.projects-title {
    font-size: 7vw;
    font-weight: 800;
    margin: 0;
    text-align: center;
    padding-bottom: 5%;
}

.content {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    
}

.content--perspective {
	perspective-origin: 50% 0%;
	perspective: 1000px;
}

.text-large {
	font-size: clamp(1.5rem,5vw,3rem);
	max-width: 900px;
	margin: 0 0 0.85em 0;
	line-height: 1.2;
	font-variation-settings: "slnt" 0, "wdth" 100, "wght" 500, "INKT" 100;
}

.content--sticky {
	width: 100vw;
	position: sticky;
	top: 0;
	--offset: 0px;
	top: var(--offset);
	height: calc(100vh - var(--offset));
}

.content--grid,
.content--grid .content__inner {
	display: grid;
	overflow: hidden;
	grid-column-gap: 5vw;
	grid-row-gap: 2vh;
	align-content: center;
	grid-template-areas: 'content-img' 'content-title' 'content-text';
	justify-items: center;
}

.content--grid:has(.content__inner) {
	display: block;
	padding: 0;
}

.content__inner {
	width: 100%;
	height: 100%;
	border-radius: 0 0 2rem 2rem;
}

.content--card {
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 95vw;
	max-width: 500px;
	aspect-ratio: 0.8;
	top: 10vh;
	margin: auto;
	border-radius: 14px;
	gap: 3vh;
	text-align: center;
	margin-bottom: 5vh;
}

.content--card .content__title {
	font-size: clamp(1.5rem,4vw,3.5rem);
}

.content--card .content__title i {
	display: block;
}

.content--half {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	text-align: center;
}

.content--half:nth-child(odd) {
	margin-left: auto;
}

.content__img {
	grid-area: content-img;
	width: 50%;
	max-width: 300px;
	height: auto;
}

.content__img--large {
	width: 60%;
	height: auto;
}

.content__img--small {
	height: 35%;
	width: auto;
}

.spacer {
	margin-top: 20vh;
}

.content__title {
	grid-area: content-title;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 800;
	font-size: clamp(1.5rem,5vw,4rem);
	margin: 0;
  color: #FFFAEB;
}

.intro {
	display: grid;
	place-items: center;
	text-align: center;
}

.intro__info {
	position: relative;
	max-width: 20ch;
	opacity: 0.6;
	line-height: 1.2;
	margin-bottom: 4rem;
	padding-bottom: 1rem;
	font-weight: 600;
	font-size: 14px;
}

.intro__info::after {
	content: '';
	position: absolute;
	left: 50%;
	width: 1px;
	height: 2rem;
	background: var(--color-bg-1);
	top: 100%;
}


.content__text {
	margin: 0;
	max-width: 600px;
	grid-area: content-text;
	text-align: center;
	line-height: 1.5;
	padding: 0 1rem;
	backface-visibility: hidden;
  color: #FFFAEB;
  font-size: 25px;
}

.content__text--narrow {
	max-width: 300px;
}

.content--intro {
	padding-top: 25vh;
	padding-bottom: 25vh;
	z-index: 2;
}

.content--outro {
	padding-top: 30vh;
	padding-bottom: 30vh;
	display: block;
  width: 100%;
  text-align: center;
	justify-content: center;
}

.bg-1 { background: var(--color-bg-1); }
.bg-2 { background: var(--color-bg-2); }
.bg-3 { background: var(--color-bg-3); }
.bg-4 { background: var(--color-bg-4); }
.bg-5 { background: var(--color-bg-5); }
.bg-6 { background: var(--color-bg-6); }
.bg-7 { background: #473C38; }


.grid {
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	display: grid;
	position: relative;
	margin: 10vh 0 10vh;
}

.grid__item {
    position: relative;
    margin: 0;
}

.grid__item-img {
	position: relative;
	overflow: hidden;
	display: grid;
	place-items: center;
	width: 100%;
	height: auto;
	aspect-ratio: 1.5;
    filter: sepia(50%);
}

.grid__item-img-inner {
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-size: cover;
	position: relative;
}

.grid__item-caption {
	position: absolute;
	padding: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.grid__item-caption h3 {
	font-weight: bold;
	font-size: inherit;
	margin: 0;
	color: var(--first-color);
}

.grid__item-caption span {
	font-weight: bold;
	color: var(--second-color-crazy);
}

.outro {
	display: grid;
	place-items: center;
	margin: 40vh 0;
}

.outro__title {
	font-weight: 300;
	font-size: clamp(1.5rem,10vw,2rem);
}

.card-wrap {
	margin-top: 5vh;
	display: grid;
	grid-gap: 2rem;
	grid-auto-flow: row;
	grid-template-columns: 250px;
	text-align: center;
}

.card__image {
	display: block;
	border-radius: 7px;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: auto;
	aspect-ratio: 4 / 3;
	filter: contrast(0.95);
}

.card__title {
	font-weight: 300;
}

.credits {
	font-size: 1.5rem;
	text-align: center;
	margin: 50vh auto 0;
	padding-bottom: 50vh;
}

@media screen and (min-width: 53em) {
	.card-wrap {
		grid-template-columns: repeat(2,300px);
	}

	.grid {
		grid-template-columns: repeat(8,1fr);		
	}

	.grid__item {
	    grid-column: var(--c) / span var(--s);
	    grid-row: var(--r);
	}
}








/* Redirect Page Styles */
.redirect-page {
	font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--first-color);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
  height: 90vh;
  margin: 0;
}

.redirect-page h1 {
	font-size: 3rem;
	margin-bottom: 20px;
	color: var(--second-color-crazy);
}

.redirect-page p {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.redirect-page a {
	color: var(--second-color-crazy);
	text-decoration: none;
	font-weight: bold;
}

.redirect-page a:hover {
	text-decoration: underline;
}

.redirectingImage {
	width: 50%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}


.projects-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
}

.return-button {
  padding: 10px 20px;
  background-color: var(--first-color);
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
	position: fixed;
	top: 20px;
	left: 20px;

	
}

.return-button:hover {
  background-color: var(--second-color);
}

.project-grid-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.project-box-page {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image-page {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-title-page {
  font-size: 24px;
  margin-bottom: 10px;
}

.project-description-page {
  font-size: 20px;
  margin-bottom: 20px;
}

.project-links-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link-page {
	font-size: 24px;
  margin: 0 10px;
	transition: color 0.3s ease;
	color: var(--first-color);
}

.project-link-page:hover {
  color: var(--second-color-crazy);
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.tech-item {
  background-color: transparent;
  border: 2px solid var(--first-color);
  border-radius: 20px;
  color: var(--first-color);
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
}


@media (max-width: 768px) {
  .section-titles {
    font-size: 10vw;
    margin-bottom: 50px;
  }

  .home h2 {
    font-size: 25vw;
  }

	.about-content {
    flex-direction: column;
  }

  .about-text, .about-image {
    flex-basis: 100%;
    padding: 10px;
		font-size: 20px;
  }

	.body-text {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	.projects {
    width: 90vw;
    padding: 20px;
  }

	.content__text {
    font-size: 18px;
  }

	.tab-link {
		padding: 5px 10px;
		margin-right: 3px; /* Adjusted margin */
  	margin-bottom: 10px;

	}

	.tabs {
		justify-content: center;
	}

  .project-grid-page {
    grid-template-columns: repeat(1, 1fr);
  }
}
